/* Style button */
.btn {
  border: none; 
  border-radius: 50%;
  background-color: #eee;
}

.btn:hover {
  background-color: blue;
  color: #e1e2e5;
}

body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
  display: flex;
	min-height: 100vh; 
	flex-direction: column; 
	justify-content: flex-end;
}

.right-align{
  text-align: right;
  float:right;
}

.left-align{
  float:left;
  text-align: left;
}

.dark-mode {
  /* background and font color from darkly */
  background-color: #222; 
  color: #e1e2e5;
}

/* header and footer areas */
.menu {background-color: #eee; padding-inline-start: 0;}
.menu li {display: inline-block;}
.menu a {color: blue;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}



.article-meta, footer { text-align: center; color: black;}

footer {font-size: 90%;   margin-top: auto;
} a { text-decoration: none; }

/* page title */
.article-meta {
  text-decoration: none;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
}
.title { font-size: 1.1em; }

hr { 
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
tr:nth-child(even) { background: #eee }
